.container {
  width: 100%;
  background-color: var(--color-gray-50);
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-gray-200);
  overflow: hidden;
  position: relative;
}

.canvas {
  width: 100%;
  height: 80px;
  display: block;
}
